<?xml version="1.0"?>
<job_conf>
    <plugins workers="2">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="pulsarMQ" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <!-- Must tell Pulsar where to send files. -->
            <param id="galaxy_url">{{ galaxy_instance_url }}</param>
            <!-- Message Queue Connection (should match message_queue_url in Pulsar's app.yml) -->
            <param id="amqp_url">{{ message_queue_url }}</param>
        </plugin>
    </plugins>
    <destinations default="remote_cluster_MQ">
        <destination id="local" runner="local"/>
        <destination id="remote_cluster_MQ" runner="pulsarMQ">
            <!-- Tell Galaxy where files are being stored on remote system, so
                 the web server can simply ask for this information.
            -->
            <param id="jobs_directory">{{ pulsar_jobs_directory }}</param>
            <!-- Remaining parameters same as previous example -->
            <param id="dependency_resolution">remote</param>
            <param id="default_file_action">remote_transfer</param>
            <!-- AMQP does not guarantee that a published message is received by
               the AMQP server, so Galaxy/Pulsar can request that the consumer
               acknowledge messages and will resend them if acknowledgement is
               not received after a configurable timeout.  -->
            <param id="amqp_acknowledge">True</param>
             <!-- Galaxy reuses Pulsar's persistence_directory parameter (via the
                   Pulsar client lib) to store a record of received
                   acknowledgements, and to keep track of messages which have not
                   been acknowledged. -->
            <param id="persistence_directory">/data/share/persisted_data</param>
              <!-- Number of seconds to wait for an acknowledgement before
                   republishing a message. -->
            <param id="amqp_ack_republish_time">30</param>
             <!-- Pulsar job manager to communicate with (see Pulsar
                   docs for information on job managers). -->
            <param id="manager">_default_</param>
        </destination>
    </destinations>
    <tools>
        <tool id="upload1" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/iuc/snpeff/snpEff_download/4.1.0" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/iuc/snpeff/snpEff_download/4.3r.1" destination="local" />
    </tools>
</job_conf>
