<?xml version="1.0"?>
<job_conf>
    <plugins workers="2">
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        {% for runner in runners %}
        <plugin id="{{ runner.name|lower }}_runner" type="runner" load="galaxy.jobs.runners.pulsar:{{ runner.load }}">
            {% if 'params' in runner %}
              {% for k in runner['params'] | sort %}
			<param id="{{ k }}">{{ runner['params'][k] }}</param>
              {% endfor %}
            {% endif %}
        </plugin>
        {% endfor %}
    </plugins>
    <destinations default="dynamic_runner">
        <destination id="dynamic_runner" runner="dynamic">
          <param id="type">python</param>
          <param id="function">dynamic_destination</param>
        </destination>
        <destination id="local" runner="local" />
        {% for destination in destinations %}
            <destination id="pulsar_{{ destination.name|lower }}" runner="{{ destination.name|lower }}_runner">
                {% for key, value in destination.job_conf_params.items() | sort%}
                    <param id="{{ key }}">{{ value }}</param>
                {% endfor %}
            </destination>
        {% endfor %}
    </destinations>
    <tools>
        <tool id="upload1" destination="local" />
        <tool id="__SET_METADATA__" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/iuc/snpeff/snpEff_download/4.1.0" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/iuc/snpeff/snpEff_download/4.3r.1" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/bgruening/prepare_ligands_for_docking/prepare_ligands_for_docking/2.4.2.0" destination="local" />
        <tool id="toolshed.g2.bx.psu.edu/repos/bgruening/autodock_vina/docking/0.2.1" destination="dynamic_runner" />
    </tools>
</job_conf>
